<% layout("/layouts/boilerplate") %>

<div class="container mb-5 mt-5">
  <h2 class="text-center mb-4">Sign up on VCEvents</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form
        class="registration-form bg-white p-4 border border-2 rounded-3 shadow-sm needs-validation"
        novalidate
      >
        <div class="mb-4">
          <label for="username" class="form-label">Name</label>
          <input
            name="username"
            type="text"
            class="form-control form-control-lg border-2"
            placeholder="Full Name"
            required
          />         
          <div class="valid-feedback">Looks Good.</div>          
          <div class="invalid-feedback">Enter your full name.</div>
        </div>
        
        <div class="mb-4">
          <label for="roll" class="form-label">Roll Number</label>
          <input
            name="roll"
            type="text"
            class="form-control form-control-lg border-2"
            placeholder="Roll Number"
            required
          />
          <div class="invalid-feedback">Enter your Roll no.</div>
        </div>
        
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            type="email"
            class="form-control form-control-lg border-2"
            placeholder="Email Address"
            required
          />
          <div class="invalid-feedback">Enter your email.</div>
        </div>
        
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control form-control-lg border-2"
            placeholder="Enter password"
            required
          />
          <div class="invalid-feedback">Enter a valid password.</div>
        </div>
        <button
            type="submit"
            class="btn btn-dark btn-lg w-100 text-uppercase fw-bold mb-3"
          >
            Sign Up
        </button>
        <p>Already registered? login <a href="http://localhost:3000/login">here</a></p>
      </form>
    </div>
  </div>
</div>
