<% layout("/layouts/boilerplate"); %>
<br><br><br><br><br><br><br>
<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
        <p class="alert-heading"><%= message %></p>
    </div>    
</div>
<script>
    const navbar = document.querySelector(".navbar");
    navbar.classList.add("scrolled");
</script>